*.blg
*.bbl
*.dvi
*.out
*.tmp
*.lol
*.loa
*.lox
*.lot
*.lg
*.xref
*.lof
*.toc
*.log
*.aux
*.pdf
!lcc_manual.pdf
*~
*.swp
*.swo
*.d
*.d.*
.*.*.swp
.*.*.swo
.*.*.gz
.idx
.DS_Store
manual_spa/lcc_manual.idx
manual_spa/lcc_manual.pdf
*.gz
